<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InternetBanking">
    <listeners>
        <listener class-name="utility.Reporting">
        </listener>
    </listeners>
    <test name="BankingApp Test">
        <parameter name="browser" value="Chrome"/>
        <classes>
           <class name="testcases.TC_LoginTest_001"/>
            <class name="testcases.TC_LoginTest_002"/>
                <class name="testcases.TC_AddCustomerTest_003">
            </class>
        </classes>
    </test>

</suite>